body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.grid-3-col {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-col-section {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-content {
  margin: 0 40px 0 0;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 !important;
}

.card-header img,
.card-header iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.text-align {
  text-align: center;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

.insta-embeds {
  margin-top: 30px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

section.cafe-section {
  background-color: #f8f8f8;
  padding: 100px 40px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 100%;
  font-weight: 700;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 5px;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}

header a {
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  text-align: center;
  color: #272044;
  letter-spacing: 3px;
  font-size: 14px;
  padding: 16px 32px;
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  background: white;
}

main {
  background-color: white;
}

main img {
  width: 461px;
  height: 470px;
  display: block;
  margin: 0 auto;
}

main h2 {
  opacity: 30%;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 5px;
  font-style: bold;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 50px;
  margin: 0 auto;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  opacity: 70%;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 100px;
}

footer h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  opacity: 70%;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 70%;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  main img {
    width: 300px;
    height: auto;
  }

  main h2 {
    font-size: 12px;
  }

  main h3 {
    font-size: 25px;
  }

  main p {
    padding: 0 20px;
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-row: 30px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  iframe.embed {
    aspect-ratio: 16 / 9;
  }
}
